<section class="bg-gradient-to-r from-slate-950 via-slate-900 to-slate-700">
    <div class="container mx-auto px-4 py-12 flex sm:flex-row-reverse  flex-col justify-between items-center gap-5">
        <div class="basis-1/3">
            <img src="../../../assets/images/about-me.png" class="shadow-2xl shadow-gray-100" alt="">
        </div>
        <div class="flex flex-col justify-start items-start gap-2 basis-2/3">
            <p class="flex justify-start uppercase items-center gap-x-2 text-xs text-orange-500 tracking-wider ">Lorem ipsum dolor sit amet, consectetur <span><i class='bx bx-heart text-sky-500 text-xl font-semibold'></i></span> </p>
            <h2 class="uppercase text-3xl font-semibold text-orange-500 tracking-widest leading-8 md:pb-3">Frontend Developer</h2>
            <p class=" text-sm tracking-wider text-slate-400 leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda quasi, nesciunt modi pariatur facere quam nobis voluptas accusantium similique, nulla odit blanditiis mollitia eaque. Totam in quis eos quasi?</p>

            <button class="btn-primary text-sm mt-3 font-semibold uppercase">Call To Action</button>
        </div>

    </div>
</section>