<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-3 text-center ">
    <div class="my-2 sm:text-left">
        <div class="flex  justify-center sm:justify-start gap-2">
            <img src="../../../assets/img/js.png" class="w-8 h-8" alt="">
        </div>
        <h3 class="text-base font-extrabold my-2">Vanilla JS</h3>
        <p class="text-sm ">Lorem ipsum dolor sit amet consectetur adipisicing elit. At officia repellendus, non consequuntur, nulla dolor error voluptate perferendis a nesciunt ab laborum sunt aspernatur quae natus ratione quas quod. Nostrum?</p>
    </div>
    <div class="my-3 sm:text-left">   
        <div class="flex  justify-center sm:justify-start gap-2">
            <img src="../../../assets/img/bootstrap.png" class="w-8 h-8" alt="">
            <img src="../../../assets/img/tailwindcss-icon.256x154.png" class="w-8 h-8" alt="">
        </div>             
        <h3 class="text-base font-bold my-2">Bootstrap & Tailwindcss</h3>
        <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. At officia repellendus, non consequuntur, nulla dolor error voluptate perferendis a nesciunt ab laborum sunt aspernatur quae natus ratione quas quod. Nostrum?</p>
    </div>
    <div class="my-3 sm:text-left">                
        <div class="flex  justify-center sm:justify-start gap-2">
            <img src="../../../assets/img/css-3.png" class="w-8 h-8" alt="">
            <img src="../../../assets/img/html-5.png" class="w-8 h-8" alt="">
        </div>                
        <h3 class="text-base font-bold my-2">HTML5 & CSS3</h3>
        <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. At officia repellendus, non consequuntur, nulla dolor error voluptate perferendis a nesciunt ab laborum sunt aspernatur quae natus ratione quas quod. Nostrum?</p>
    </div>
    <div class="my-3 sm:text-left">                
        <div class="flex  justify-center sm:justify-start gap-2">
            <img src="../../../assets/img/angular.jpg" class="w-12 h-12" alt="">
            <img src="../../../assets/img/nodejs.png" class="w-8 h-8 mt-2" alt="">
        </div>                
        <h3 class="text-base font-bold my-2">Angualr & NodeJS</h3>
        <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. At officia repellendus, non consequuntur, nulla dolor error voluptate perferendis a nesciunt ab laborum sunt aspernatur quae natus ratione quas quod. Nostrum?</p>
    </div>
    <div class="my-3 sm:text-left">                
        <div class="flex  justify-center sm:justify-start gap-2">
            <img src="../../../assets/img/mysql.png" class="w-8 h-8" alt="">
            <img src="../../../assets/img/nestjs.256x255.png" class="w-8 h-8" alt="">
        </div>                
        <h3 class="text-base font-extrabold my-2">MySql & NESTJS</h3>
        <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. At officia repellendus, non consequuntur, nulla dolor error voluptate perferendis a nesciunt ab laborum sunt aspernatur quae natus ratione quas quod. Nostrum?</p>
    </div>
</div>