.hover:hover:before {
    content: '';
    top: 0px;
    left: 505px;
    position: absolute;
    width: 36px;
    height: 3px;
    border-top: 4px solid green
}
.hover1:hover:before {
    content: '';
    top: 0px;
    left: 555px;
    position: absolute;
    width: 72px;
    height: 3px;
    border-top: 4px solid green
}
.hover2:hover:before {
    content: '';
    top: 0px;
    left: 645px;
    position: absolute;
    width: 70px;
    height: 3px;
    border-top: 4px solid green
}
.hover3:hover:before {
    content: '';
    top: 0px;
    left: 735px;
    position: absolute;
    width: 66px;
    height: 3px;
    border-top: 4px solid green
}
.hover4:hover:before {
    content: '';
    top: 0px;
    left: 820px;
    position: absolute;
    width: 66px;
    height: 3px;
    border-top: 4px solid green;
    transition: calc(.9);
}


@media (max-width: 1280px) {
    .hover:hover:before {

        left: 240px;
    }
    .hover1:hover:before {
        left: 290px;
    }
    .hover2:hover:before {
        left: 384px;
    }
    .hover3:hover:before {
        left: 475px;
    }
    .hover4:hover:before {
        left: 555px;
    }
    
  }


  @media (max-width: 1024px) {
    .hover:hover:before {

        left: 145px;
    }
    .hover1:hover:before {
        left: 194px;
    }
    .hover2:hover:before {
        left: 287px;
    }
    .hover3:hover:before {
        left: 375px;
    }
    .hover4:hover:before {
        left: 460px;
    }
  }


  @media (max-width: 768px) {
    .hover:hover:before {
        left: 145px;
    }
    .hover1:hover:before {
        left: 194px;
    }
    .hover2:hover:before {
        left: 287px;
    }
    .hover3:hover:before {
        left: 375px;
    }
    .hover4:hover:before {
        left: 460px;
    }
  }


  @media (max-width: 640px) {
    .hover:hover:before {
        left: 82px;
    }
    .hover1:hover:before {
        left: 132px;
    }
    .hover2:hover:before {
        left: 222px;
    }
    .hover3:hover:before {
        left: 313px;
    }
    .hover4:hover:before {
        left: 395px;
    }
  }