<div class="">
    <!-- hero -->
    <app-hero></app-hero>
    <!-- what i do -->
    <section class="flex flex-col justify-start gap-3 px-[50px] py-[30px] xl:px-[150px] xl:py-[30px] mt-5">
        <div class="flex flex-col items-center text-center  lg:items-start md:align-start">
            <h2 class="text-3xl font-extrabold border-l-4 border-teal-700 px-3 mb-3">What I DO</h2>
            <p class="leading-6 lg:text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus atque deleniti consequuntur amet eos officia fuga possimus facilis mollitia, delectus repudiandae reprehenderit, incidunt quo aut adipisci vero aliquid, est velit!</p>
        </div>
        <!--  -->
        <app-feature></app-feature>
        <!-- service and prices button -->
        <div class="flex justify-center gap-3 mt-3 text-center">
            <button class="px-5 py-2 bg-white-700 text-base text-gray-600 font-semibold rounded-md border-2 border-teal-700  hover:bg-emerald-600  transition ease-in-out delay-100 hover:text-gray-200"> <i class="pi pi-credit-card mr-3"></i> Services & Prices</button>
        </div>
    </section>

    <div class="mx-[50px] xl:mx-[150px] mt-[60px] border-b-[1px] border-gray-300 "></div>

    <!-- testimonials -->

    <section class="flex flex-col justify-start gap-3 px-[50px] py-[30px] xl:px-[150px] xl:py-[60px]">
        <div class="flex flex-col items-center text-center lg:items-start md:align-start">
            <h2 class="text-3xl lg:text-left font-extrabold border-l-4 border-teal-700 px-3 mb-3">Testimonials</h2>
        </div>
        <div>
            
            <!-- testimonial item -->
            <app-testimonial></app-testimonial>
        </div>
    </section>

    <!-- end testimonials -->
    <div class="mx-[50px] xl:mx-[150px] mt-[60px] border-b-[1px] border-gray-300 "></div>

    <!-- featured project -->

    <section class="flex flex-col justify-start gap-3 px-[50px] py-[30px] xl:px-[150px] xl:py-[60px]">
        <div class="flex flex-col items-center text-center  lg:items-start md:align-start">
            <h2 class="text-3xl font-extrabold border-l-4 border-teal-700 px-3 mb-3">Featured Projects</h2>
        </div>
        <div>     
<!-- portfolio item  -->
        <app-portfolio-item></app-portfolio-item>
        <div class="mt-5 justify-center flex">
            <a class="px-5 py-2 bg-emerald-600 text-base text-white  font-semibold rounded-md hover:bg-teal-600 transition ease-in-out delay-100"> <i class="pi pi-eye mr-3"></i>View Portfolio</a>
        </div>
        </div>
    </section>

    <!-- end featured project -->
    <div class="mx-[50px] xl:mx-[150px] mt-[30px] xl:mt-[60px] border-b-[1px] border-gray-300 "></div>

    <!-- blog posts -->

    <section class="flex flex-col justify-start gap-3 px-[50px] py-[30px] xl:px-[150px] xl:py-[60px]">
        <div class="flex flex-col items-center text-center  lg:items-start md:align-start">
            <h2 class="text-3xl font-extrabold border-l-4 border-teal-700 px-3 mb-3">Latest Blog Posts</h2>
        </div>
        <div>
<!-- blog post -->
        <app-post></app-post>
        <div class="mt-5 justify-center flex">
            <a class="px-5 py-2 bg-emerald-600 text-base text-white  font-semibold rounded-md hover:bg-teal-600 transition ease-in-out delay-100"> <i class="pi pi-eye mr-3"></i>View Blog</a>
        </div>
        </div>
    </section>

    <section class="flex justify-center py-3 ">
        <p class="text-sm text-gray-400">text &copy; copywrite 2023</p>
    </section>


</div>