<div class="">
    <!-- hero -->
    <app-hero></app-hero>
    <app-feature></app-feature>
    <div class="mx-[50px] xl:mx-[150px] mt-[60px] border-b-[1px] border-gray-300 "></div>
    <!-- testimonial item -->
    <app-testimonial></app-testimonial>
    <!-- end testimonials -->
    <div class="mx-[50px] xl:mx-[150px] mt-[60px] border-b-[1px] border-gray-300 "></div>
    <!-- featured project -->
    <!-- portfolio item  -->
    <app-projects></app-projects>
    <!-- end featured project -->
    <div class="mx-[50px] xl:mx-[150px] mt-[30px] xl:mt-[60px] border-b-[1px] border-gray-300 "></div>
    <!-- blog posts -->
    <app-post></app-post>
    <!-- footer -->
    <app-footer></app-footer>
</div>