
<div class="w-screen">
  <div class="block lg:flex">
    <!-- sidebar -->
    <div class="hidden lg:block w-full lg:w-3/12 2xl:w-2/12 lg:h-screen bg-emerald-600 px-4 lg:sticky top-0 " >
      <div class="text-white flex flex-col gap-4 text-center">
        <div class="mt-5">
          <img class="rounded-full w-32 h-32 mx-auto" src="./../assets/img/{{user.image}}.jpg" alt="{{user.name }}" *ngIf="user">
          <!-- <img class="rounded-full w-32 h-32 mx-auto " src="./../assets/img/3999 _.jpg" alt=""> -->
        </div>
        <div>
          <h2 class="text-xl font-semibold mb-1">{{user.name ? user.name : 'Anonymous'}}</h2>
          <h5 class="text-sm">Frontend Developer | Angular | Nodejs | NESTJS | MEAN Stack</h5>
        </div>
        <div>
          <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eos eligendi unde perspiciatis,  fuga dolorum sapiente culpa atque odit vitae!</p>
        </div>
        <div class="flex justify-center gap-3 text-white text-xl">
          <a href="" class="hover:text-blue-500" ><i class="pi pi-facebook"></i></a>
          <a href="" class="hover:text-gray-500 "><i class="pi pi-linkedin"></i></a>
          <a href="" class="hover:text-blue-500 "><i class="pi pi-twitter"></i></a>
          <a href="" class="hover:text-green-500 "><i class="pi pi-whatsapp"></i></a> 
        </div>
        <div class="border-b border-gray-400 "></div>
      </div>
      <!-- end profile -->
      <div class="my-2">
          <ul role="list" class="text-slate-50 text-lg font-medium pl-5">            
              <!-- Remove top/bottom padding when first/last child -->
              <li class="flex py-1 first:pt-0 last:pb-0 justify-start ">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="hover:text-gray-900 transition ease-in-out delay-100">
                  <i class="pi pi-user mr-3"></i>
                  <span>About Me</span>
                </a>

              </li>
              <li class="flex py-1 first:pt-0 last:pb-0 justify-start">
                <a routerLink="/portfolio" routerLinkActive="active"  class="hover:text-gray-900 transition ease-in-out delay-100">
                  <i class="pi pi-slack mr-3"></i>
                  <span>Portfolio</span>
                </a>
              </li>
              <li class="flex py-1 first:pt-0 last:pb-0 justify-start">
                <a routerLink="/resume" routerLinkActive="active"  class="hover:text-gray-900 transition ease-in-out delay-100">
                  <i class="pi pi-file-edit mr-3"></i>
                  <span>Resume</span>
                </a>
              </li>
              <li class="flex py-1 first:pt-0 last:pb-0 justify-start">
                <a routerLink="/posts" routerLinkActive="active"  class="hover:text-gray-900 transition ease-in-out delay-100">
                  <i class="pi pi-pencil mr-3"></i>
                  <span>Blog</span>
                </a>
              </li>
              <li class="flex py-1 first:pt-0 last:pb-0 justify-start">
                <a routerLink="/contact" routerLinkActive="active"  class="hover:text-gray-900 transition ease-in-out delay-100">
                  <i class="pi pi-envelope mr-3"></i>
                  <span>Contact Me</span>
                </a>
              </li>
          </ul>
      </div>
    </div>
    <!-- collapse navbar -->
    <div class="lg:hidden bg-emerald-600 py-4 shadow-md  mx-auto w-full  rounded-t">
      <div class="flex justify-between items-center px-12">
        <button class="border-2 border-gray-800 focus:border-blue-400 px-3 py-2 shadow rounded cursor-pointer hover:scale-105 btn" type="button" (click)="onshow()">
          <div class="border-b-2 border-gray-800 w-4 mb-1"></div>
          <div class="border-b-2 border-gray-800 w-4 mb-1"></div>
          <div class="border-b-2 border-gray-800 w-4"></div>
        </button>
        <h2 class="md:text-2xl font-bold text-gray-800 text-xl">{{user.name}}</h2>

        <!-- {{showmenu}} -->
      </div>
 
      
      <div class="pt-4 flex gap-3 justify-between items-center border-t-[1px] border-gray-400 my-3 px-12" *ngIf="showmenu">
        <ul class="flex flex-col gap-2 text-gray-800">
          <li class="">
            <a routerLink="/" class=" py-2   transition-all hover:text-gray-700 hover:font-semibold">About Me</a>
          </li>
          <li class="">
            <a routerLink="/portfolio" class="py-2 transition-all hover:text-gray-700 hover:font-semibold">Portfolio</a>
          </li>
          <li class="">
            <a routerLink="/posts" class="py-2 transition-all hover:text-gray-700 hover:font-semibold">Blog</a>
          </li>
          <li class="">
            <a routerLink="/contact" class="py-2 transition-all hover:text-gray-700 hover:font-semibold">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full lg:w-9/12 2xl:w-10/12 p-0">
      <router-outlet></router-outlet>
          <!-- footer -->
      <app-footer></app-footer>
    </div>
  </div>
</div>


