<div class="bg-gray-100 pb-3">
    <div class="px-[50px] py-[30px] 2xl:px-[150px] 2xl:py-[30px] flex flex-col justify-center items-center text-center gap-2 ">
        <h2 class="text-4xl font-extrabold">Portfolio</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia ut, sit libero dicta consequatur error pariatur at ipsa est reiciendis quis ullam illo quas hic corporis incidunt! Tempora, eveniet consectetur.</p>
        <button (click)="download()" class="mt-4 px-3 py-2 rounded w-48 bg-emerald-600 transition ease-in-out delay-150 hover:bg-emerald-500 text-gray-200 font-semibold text-base"> <i class="pi pi-file-pdf mr-3"></i> Generate PDF</button>
    </div>
</div>

<div class="px-[30px] py-[30px] 2xl:px-[250px] 2xl:py-[30px] my-3">
    <div class="shadow rounded flex flex-col md:flex-row justify-center items-start" id="resume" >

        <div class="w-full md:w-5/12 bg-gray-100 md:h-[110vh] p-4 ">
            <div class="flex justify-between items-center gap-1 mb-3">
                <div class="">
                    <h2 class="text-xl font-bold text-black">Hosne Mobarak</h2>
                    <h6 class="text-sm font-semibold text-gray-500">Angular Developer</h6>
                </div>
                <div class="">
                    <img src="https://picsum.photos/id/65/200/300" class="w-32 h-32 md:w-24 md:h-24 rounded-full shadow " alt="">
                </div>

            </div>
            <!-- info -->
             <div class="mb-3 text-center">
                <p class="text-sm text-justify">I am a skilled Angular developer with expertise in NestJS, NodeJS, and the MEAN stack.
                    <br>
                    I am constantly seeking out new technologies and trends to improve my skills and stay up-to-date with the latest technology. My proficiency in Angular, NestJS, NodeJS, and the MEAN stack enables me to work on a wide range of web development projects with ease.
                    <br>                    
                   I am a reliable and hardworking team member who values collaboration and communicationand enjoy working closely with my colleagues to ensure that we produce high-quality work that exceeds expectations.
                   <br>                    
                    With my passion for development, dedication to learning, and expertise in web technologies, I am confident that I can make a valuable contribution to any development team.</p> 
            </div>
            <!-- details -->
            <div class="text-left mt-3">
                <h2 class="border-b-2 border-teal-600 py-2 mb-3 font-bold text-base">Details</h2>
                <div class="text-sm flex flex-col gap-2 ">
                    <div class="flex justify-start  items-center gap-2 text-black font-semibold"><i class="pi pi-phone text-sm border w-8 self-center p-2 h-8 "></i>01834651517</div>
                    <div class="flex justify-start  items-center gap-2 text-black font-semibold"><i class="pi pi-envelope text-xs border w-8 self-center p-2 h-8 "></i>muradjpr@gmail.com</div>
                    <div class="flex justify-start  items-center gap-2 text-black font-semibold"><i class="pi pi-map text-xs border w-8 self-center p-2 h-8 "></i>Dhaka , Bangladesh</div>  
                </div>
            </div>
            <!-- skills -->
            <div class="text-left mt-3">
                <h2 class="border-b-2 border-teal-600 py-2 mb-3 font-semibold  text-base">Skills</h2>
                <div class="text-sm ">
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">Angular</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="80" [showValue]="false"></p-progressBar>
                    </div>
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">Nest JS</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="70" [showValue]="false"></p-progressBar>
                    </div>
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">MEAN Stack</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="65" [showValue]="false"></p-progressBar>
                    </div>
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">Tailwindcss</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="70" [showValue]="false"></p-progressBar>
                    </div>
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">Bootstrap</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="80" [showValue]="false"></p-progressBar>
                    </div>
                </div>
            </div>



            
        </div>
        
        
        <div class="w-full md:w-7/12 px-4 py-4 flex flex-col">

            <!-- work experience -->
            <div class="mb-2">
                <h2 class="text-base font-bold">Work Experience</h2>
                <div class="border-[1px] border-gray-500 w-full mt-1"></div>
                <div class="flex my-3 gap-2">
                    <div class="w-1/5 text-sm">
                        <p class="text-sm font-semibold">Till Now</p>
                    </div>
                    <p-divider  layout="vertical"></p-divider>
                    <div class="w-4/5">
                        <h4 class="text-sm font-semibold capitalize">Learner</h4>
                        <p class="text-sm normal-case">
                            Created various projects like, Recipe App, Authentication System, Simple E-Commerce App, Portfolio App etc.</p>
                    </div>
                </div>
            </div>
            <!-- Education qualification -->
            <div class="mb-2">
                <h2 class="text-base font-bold">Education Qualifications</h2>
                <div class="border-[1px] border-gray-500 w-full mt-1"></div>
                <div class="flex my-3 gap-2">
                    <div class="w-1/5 text-sm">
                        <h5 class="font-semibold">Post Graduation in IT</h5>
                    </div>
                    <p-divider  layout="vertical"></p-divider>
                    <div class="w-4/5">
                        <h4 class="text-sm font-semibold">Jahangirnagar University</h4>
                        <p class="text-sm">May 2022 - April-2023</p>
                    </div>
                </div>
                <div class="flex my-3 gap-1">
                    <div class="w-1/5 text-sm">
                        <h5 class="font-semibold">MA in English</h5>
                    </div>
                    <p-divider  layout="vertical"></p-divider>
                    <div class="w-4/5">
                        <h4 class="text-sm font-semibold">Dhaka International University</h4>
                        <p class="text-sm">2017 - 2018</p>
                    </div>
                </div>
                <div class="flex my-3 gap-1">
                    <div class="w-1/5 text-sm">
                        <h5 class="font-semibold">Diploma In Electronics & Avionics</h5>
                    </div>
                    <p-divider  layout="vertical"></p-divider>
                    <div class="w-4/5">
                        <h4 class="text-sm font-semibold">Aero Engineering Institute</h4>
                        <p class="text-sm">2009 - 2013</p>
                    </div>
                </div>
            </div>
            <!-- Other experiences -->
            <div class="mb-2">
                <h2 class="text-base font-bold">Other Skills </h2>
                <div class="border-[1px] border-gray-500 w-full mt-1"></div>
                <div class="flex my-3 gap-2">
  
                    <p-divider  layout="vertical"></p-divider>
                    <div class="flex flex-col gap-2">
                        <div class="w-full flex flex-col gap-2 justify-center text-sm">
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>HTML5</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>CSS3</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>JAVASCRIPT</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>MONGODB</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>LINUX OPERATING SYSTEM</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Other experiences -->
            <div class="mb-2">
                <h2 class="font-bold  text-base">Other Experiences</h2>
                <div class="border-[1px] border-gray-500 w-full mt-1"></div>
                <div class="flex my-3 gap-2">

 
                    <p-divider  layout="vertical"></p-divider>
                        <div class="w-full flex flex-col gap-2 justify-center text-sm">
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Excellent skill on English verbal and written communication.</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Sound knowledge in computer hardware and software.</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Keen interest on latest technology and gadgets.</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Keen interest on learning new things.</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Excellent problem solving skills.</h4>
                        </div>
                    </div>
            </div>


        </div>
    </div>
</div>