<div class="bg-gray-100 pb-3">
    <div class="px-[50px] py-[30px] 2xl:px-[150px] 2xl:py-[30px] flex flex-col justify-center items-center text-center gap-2 ">
        <h2 class="text-4xl font-extrabold">Portfolio</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia ut, sit libero dicta consequatur error pariatur at ipsa est reiciendis quis ullam illo quas hic corporis incidunt! Tempora, eveniet consectetur.</p>
        <button (click)="download()" class="mt-4 px-3 py-2 rounded w-48 bg-emerald-600 transition ease-in-out delay-150 hover:bg-emerald-500 text-gray-200 font-semibold text-base"> <i class="pi pi-file-pdf mr-3"></i> Generate PDF</button>
    </div>
</div>

<div class="px-[30px] py-[30px] 2xl:px-[250px] 2xl:py-[30px] my-3">
    <div class="shadow rounded flex flex-col md:flex-row justify-center items-start" id="resume" >

        <div class="w-full md:w-5/12 bg-gray-100 md:h-[110vh] p-4 ">
            <div class="flex justify-between items-center gap-1 mb-1">
                <div class="">
                    <h2 class="text-xl font-bold text-black">Hosne Mobarak</h2>
                    <h6 class="text-sm font-semibold text-gray-500">Angular Developer</h6>
                </div>
                <div class="">
                    <img src="https://picsum.photos/id/65/200/300" class="w-32 h-32 md:w-24 md:h-24 rounded-full shadow " alt="">
                </div>

            </div>
            <!-- info -->
             <div class="mb-1 text-center">
                <p class="text-sm text-justify">I am a skilled Angular developer with expertise in NestJS, NodeJS, and the MEAN stack.
                    <br>
                    I am constantly seeking out new technologies and trends to improve my skills and stay up-to-date with the latest technology. My proficiency in Angular, NestJS, NodeJS, and the MEAN stack enables me to work on a wide range of web development projects with ease.
                    <br>                    
                   I am a reliable and hardworking team member who values collaboration and communicationand enjoy working closely with my colleagues to ensure that we produce high-quality work that exceeds expectations.
                   <br>                    
                    With my passion for development, dedication to learning, and expertise in web technologies, I am confident that I can make a valuable contribution to any development team.</p> 
            </div>
            <!-- details -->
            <div class="text-left mt-1">
                <h2 class="border-b-2 border-teal-600 py-2 mb-2 font-bold text-sm">Details</h2>
                <div class="text-sm flex flex-col gap-2 ">
                    <div class="flex justify-start items-center gap-2 text-black font-semibold">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                          </svg>
                          
                        <span>
                            01834651517
                        </span>                        
                    </div>
                    <div class="flex justify-start  items-center gap-2 text-black font-semibold">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                          </svg>
                          
                        <span>
                            muradjpr@gmail.com
                        </span>
                    </div>
                    <div class="flex justify-start  items-center gap-2 text-black font-semibold">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z" />
                          </svg>
                          
                        <span>
                            Dhaka , Bangladesh
                        </span>
                    </div>  
                </div>
            </div>
            <!-- skills -->
            <div class="text-left mt-1">
                <h2 class="border-b-2 border-teal-600 py-2 mb-2 font-semibold  text-sm">Skills</h2>
                <div class="text-sm ">
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">Angular</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="80" [showValue]="false"></p-progressBar>
                    </div>
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">Nest JS</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="70" [showValue]="false"></p-progressBar>
                    </div>
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">MEAN Stack</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="65" [showValue]="false"></p-progressBar>
                    </div>
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">Tailwindcss</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="70" [showValue]="false"></p-progressBar>
                    </div>
                    <div class="text-black font-semibold w-full mb-2">
                        <h2 class="mb-2">Bootstrap</h2>
                        <p-progressBar ngClass="w-full h-5" [style]="{ height: '6px' }" [value]="80" [showValue]="false"></p-progressBar>
                    </div>
                </div>
            </div>



            
        </div>
        
        
        <div class="w-full md:w-7/12 px-4 py-4 flex flex-col">

            <!-- work experience -->
            <div class="mb-2">
                <h2 class="text-sm font-bold">Work Experience</h2>
                <div class="border-[1px] border-gray-500 w-full mt-1"></div>
                <div class="flex my-3 gap-2">
                    <div class="w-1/5 text-sm">
                        <p class="text-sm font-semibold">Till Now</p>
                    </div>
                    <p-divider  layout="vertical"></p-divider>
                    <div class="w-4/5">
                        <h4 class="text-sm font-semibold capitalize">Learner</h4>
                        <p class="text-sm normal-case">
                            Created various projects like, Recipe App, Authentication System, Simple E-Commerce App, Portfolio App etc.</p>
                    </div>
                </div>
            </div>
            <!-- Education qualification -->
            <div class="mb-2">
                <h2 class="text-sm font-bold">Education Qualifications</h2>
                <div class="border-[1px] border-gray-500 w-full mt-1"></div>
                <div class="flex my-3 gap-2">
                    <div class="w-1/5 text-sm">
                        <h5 class="font-semibold">Post Graduation in IT</h5>
                    </div>
                    <p-divider  layout="vertical"></p-divider>
                    <div class="w-4/5">
                        <h4 class="text-sm font-semibold">Jahangirnagar University</h4>
                        <p class="text-sm">May 2022 - April-2023</p>
                    </div>
                </div>
                <div class="flex my-3 gap-1">
                    <div class="w-1/5 text-sm">
                        <h5 class="font-semibold">MA in English</h5>
                    </div>
                    <p-divider  layout="vertical"></p-divider>
                    <div class="w-4/5">
                        <h4 class="text-sm font-semibold">Dhaka International University</h4>
                        <p class="text-sm">2017 - 2018</p>
                    </div>
                </div>
                <div class="flex my-3 gap-1">
                    <div class="w-1/5 text-sm">
                        <h5 class="font-semibold">Diploma In Electronics & Avionics</h5>
                    </div>
                    <p-divider  layout="vertical"></p-divider>
                    <div class="w-4/5">
                        <h4 class="text-sm font-semibold">Aero Engineering Institute</h4>
                        <p class="text-sm">2009 - 2013</p>
                    </div>
                </div>
            </div>
            <!-- Other experiences -->
            <div class="mb-2">
                <h2 class="text-sm font-bold">Other Skills </h2>
                <div class="border-[1px] border-gray-500 w-full mt-1"></div>
                <div class="flex my-3 gap-2">
  
                    <p-divider  layout="vertical"></p-divider>
                    <div class="flex flex-col gap-2">
                        <div class="w-full flex flex-col gap-2 justify-center text-sm">
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>HTML5</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>CSS3</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>JAVASCRIPT</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>MONGODB</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>LINUX OPERATING SYSTEM</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Other experiences -->
            <div class="mb-2">
                <h2 class="font-bold  text-sm">Other Experiences</h2>
                <div class="border-[1px] border-gray-500 w-full mt-1"></div>
                <div class="flex my-3 gap-2">

 
                    <p-divider  layout="vertical"></p-divider>
                        <div class="w-full flex flex-col gap-2 justify-center text-sm">
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Excellent skill on English verbal and written communication.</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Sound knowledge in computer hardware and software.</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Keen interest on latest technology and gadgets.</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Keen interest on learning new things.</h4>
                            <h4 class=""><i class="pi pi-check-square mr-3"></i>Excellent problem solving skills.</h4>
                        </div>
                    </div>
            </div>


        </div>
    </div>
</div>