<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="flex flex-col border-[1px] border-gray-200 bg-gray-100 ">
        <img src="./../../../assets/img/project-1.jpg" alt="" class="w-full h-[300px]">
        <div class="p-4 space-y-2 flex flex-col">
            <h3 class="text-xl font-bold text-black">Project Heading</h3>
            <p class="my-2 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor facere quod, excepturi eligendi fugit soluta non, deleniti nesciunt expedita pariatur illum eaque! Dolorum corrupti quaerat cupiditate, consectetur.</p>

            <a class="text-teal-700 my-3" href="#"> Read More <i class="pi pi-arrow-right text-sm ml-2"></i></a>
            <span class="text-xs text-gray-400">Published 1 day ago.</span>
        </div>
    </div>
    <div class="flex flex-col border-[1px] border-gray-200 bg-gray-100 ">
        <img src="./../../../assets/img/project-1.jpg" alt="" class="w-full h-[300px]">
        <div class="p-4 space-y-2 flex flex-col">
            <h3 class="text-xl font-bold text-black">Project Heading</h3>
            <p class="my-2 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor facere quod, excepturi eligendi fugit soluta non, deleniti nesciunt expedita pariatur illum eaque! Dolorum corrupti quaerat cupiditate, consectetur.</p>

            <a class="text-teal-700 my-3" href="#"> Read More <i class="pi pi-arrow-right text-sm ml-2"></i></a>
            <span class="text-xs text-gray-400">Published 1 day ago.</span>
        </div>
    </div>
    <div class="flex flex-col border-[1px] border-gray-200 bg-gray-100 ">
        <img src="./../../../assets/img/project-1.jpg" alt="" class="w-full h-[300px]">
        <div class="p-4 space-y-2 flex flex-col">
            <h3 class="text-xl font-bold text-black">Project Heading</h3>
            <p class="my-2 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor facere quod, excepturi eligendi fugit soluta non, deleniti nesciunt expedita pariatur illum eaque! Dolorum corrupti quaerat cupiditate, consectetur.</p>

            <a class="text-teal-700 my-3" href="#"> Read More <i class="pi pi-arrow-right text-sm ml-2"></i></a>
            <span class="text-xs text-gray-400">Published 1 day ago.</span>
        </div>
    </div>
    <div class="flex flex-col border-[1px] border-gray-200 bg-gray-100 ">
        <img src="./../../../assets/img/project-1.jpg" alt="" class="w-full h-[300px]">
        <div class="p-4 space-y-2 flex flex-col">
            <h3 class="text-xl font-bold text-black">Project Heading</h3>
            <p class="my-2 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor facere quod, excepturi eligendi fugit soluta non, deleniti nesciunt expedita pariatur illum eaque! Dolorum corrupti quaerat cupiditate, consectetur.</p>

            <a class="text-teal-700 my-3" href="#"> Read More <i class="pi pi-arrow-right text-sm ml-2"></i></a>
            <span class="text-xs text-gray-400">Published 1 day ago.</span>
        </div>
    </div>
</div>