
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;






html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway', sans-serif;}

// menu link active 
.active {
    color: #3a3838 !important;
    font-weight: 600;
}

// product hover effect
.singleItem:hover .imageHover {
    display: flex;
}
.imageHover {
    display: none;
}
// padding 

.padding-x-50 {
    padding-left:50px; 
    padding-right:50px; 
}
.padding-y-30 {
    padding-top:30px; 
    padding-bottom:30px; 
}
.padding-x-150 {
    padding-left: 150px; 
    padding-right: 150px;
}
.padding-y-30 {
    padding-top:30px; 
    padding-bottom:30px; 
}
// padding-x-50 padding-y-30 2xl:padding-x-150 2xl:padding-y-30
 
